# Build dir
out
#tmp folder to copy executable from docker container
tmp
dependencies
docs/
cmake-build-debug
cmake-build-release

# Qt Creator
*.config
*.creator
*.creator.user
*.files
*.includes

# CLion
.idea

# Coverage info
*.info

# Debian build
tools/release-*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app